.row-title {
	margin-bottom: 30px;
}

.div-content {
	border: 1px solid #CCC;
	border-radius: 10px;
	padding-top: 10px;
	padding-bottom: 20px;
}

.img-icons {
	margin-right: 15px;
}
.btn-group {
	position: absolute;
	right: 0px;
	margin-right: 300px;
	
}
.btn-new-author {
	position: absolute; 
	z-index: 1;
}

.td-center {
	text-align: center;
}